<html>
  <head>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">
      <h1>Intro To Vue.js</h1>
      <h2>{{ groupName }}</h2>
      <h3>Vue.js Resources</h3>
      <ul>
        <li v-for="resource in vueResources">
          <a :href="resource.url">{{resource.name}}</a>
        </li>
      </ul>
      <h3>Developers</h3>
      <ul>
        <li v-for="developer in developers" v-if="developer.present">
          {{developer.name}} <span v-if="developer.host">(Host)</span>
        </li>
      </ul>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          groupName: "Olympia Front End Developers Group",
          vueResources: [
            { name: "Vue.js", url: "https://vuejs.org" },
            { name: "Vue Mastery", url: "https://vuemastery.com" },
            {
              name: "Vue @ LaraCasts",
              url: "https://laracasts.com/series/learn-vue-2-step-by-step",
            },
          ],
          developers: [
            { name: "Jack", present: true, host: true },
            { name: "Michael", present: true, host: true },
            { name: "wm", present: true },
            { name: "Roland", present: true },
            { name: "David", present: true },
            { name: "James", present: true },
            { name: "Heesoo", present: true },
            { name: "Sven", present: true },
            { name: "ramakrishna", present: true },
            { name: "Arend", present: true },
            { name: "Levi", present: true },
            { name: "Jaison", present: true },
          ],
        },
      });
    </script>
  </body>
</html>
